In [8]:
import pandas as pd

In [9]:
"""Leer Archivo CSV"""
medallas =pd.read_csv("medallas.csv")
print(medallas.head())
print(medallas.info())

    Oro  Plata  Bronce  Total        Pais
0   NaN    1.0     2.0      3   Argentina
1   NaN    2.0     2.0      4     Armenia
2  17.0    7.0    22.0     46   Australia
3   1.0    1.0     5.0      7     Austria
4   NaN    3.0     4.0      7  Azerbaijan
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Oro     65 non-null     float64
 1   Plata   69 non-null     float64
 2   Bronce  76 non-null     float64
 3   Total   93 non-null     int64
 4   Pais    93 non-null     object
dtypes: float64(3), int64(1), object(1)
memory usage: 3.8+ KB
None

In [10]:
"""Descripci√≥n estadistica de la BD"""
print(medallas.describe())

             Oro      Plata     Bronce       Total
count  65.000000  69.000000  76.000000   93.000000
mean    4.400000   4.768116   4.934211   10.548387
std     7.633806   7.276362   6.261705   18.897617
min     1.000000   1.000000   1.000000    1.000000
25%     1.000000   1.000000   1.000000    2.000000
50%     2.000000   2.000000   2.000000    4.000000
75%     3.000000   5.000000   5.250000    8.000000
max    39.000000  41.000000  33.000000  113.000000

In [11]:
"""Renombrado de columnas"""
medallas_renombrado =pd.read_csv("medallas.csv",header=None,names=["Gold","Silver","Bronze","Total","Country"])
print(medallas_renombrado.head())

  Gold Silver  Bronze  Total    Country
0  Oro  Plata  Bronce  Total       Pais
1  NaN      1       2      3  Argentina
2  NaN      2       2      4    Armenia
3   17      7      22     46  Australia
4    1      1       5      7    Austria

In [12]:
"""Sumatoria de Valores Nulos"""
print(medallas_renombrado.isnull().sum())

Gold       28
Silver     24
Bronze     17
Total       0
Country     0
dtype: int64
Gold       28
Silver     24
Bronze     17
Total       0
Country     0
dtype: int64

In [14]:
"""Tratamiento de Valores NULOS"""
 =pd.read_csv("medallas.csv",header=None,names=["Gold","Silver","Bronze","Total","Country"],na_values=["NaN"])
print(medallas_renombrado.isnull().sum())

Gold       28
Silver     24
Bronze     17
Total       0
Country     0
dtype: int64

In [15]:
"Exportar archivo nuevo"
medallas_renombrado.to_csv("nuevodf.csv",index=False)

In [16]:
"""Cambiar valores nulos por 0"""
medallas_renombrado= medallas_renombrado.fillna(0)

In [17]:
"""Mostrar sumatoria de valores nulos"""
print(medallas_renombrado.isnull().sum())

Gold       0
Silver     0
Bronze     0
Total      0
Country    0
dtype: int64